.create-post-container{
    width: 478px;
}

.create-post-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.create-post-media{
    display: flex;
    justify-content: right;
    gap: 12px;
}