@import "../mixins/responsive.scss";
.search-container{
    width: 478px;
    @include small-devices;
}
.search-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.search-filters{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    input{
        width: 100%;
    }

}